VITE_FIREBASE_API_KEY=AIzaSyAzIC4tbtjKEOIQ4XmN2RrH8NVjiu9t7-w
VITE_FIREBASE_AUTH_DOMAIN=muwatta-portfolio.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=muwatta-portfolio
VITE_FIREBASE_STORAGE_BUCKET=muwatta-portfolio.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=54131674798
VITE_FIREBASE_APP_ID=1:54131674798:web:f452b45dd5ce7e6679a73f
GITHUB_CLIENT_ID=Ov23liTTN6COrlfRJFGU
GITHUB_CLIENT_SECRET=1ee8e9f70e13f170baf56b667c78fb5dbc411ed3
SITE_URL=https://www.muwatta.com.ng
VITE_SUPABASE_URL=https://ivhzltzztwborkssslgk.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_SUPABASE_ANON_KEY=